{% extends "baseteacher.html" %}

{% block content %}
<form class="modal-content" action="{{ url_for('classassessmentsum') }}" method="POST">
    <label class="labelcenternocolor"><strong>Class Assessment Summary</strong></label>
    <div class="row">
        <div class="block">
            <label for="classid"><b>Select Class</b></label>
        </div>
        <div class="block">
            <select name="classid" id="selClass">
                {% for item in dbclassrows %}
                    {% if classselected == item[0] %}
                        <option value="{{ item[0] }}" selected="selected">{{item[0]}}</option>
                    {% else %}
                        <option value="{{ item[0] }}">{{item[0]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="block">
            <label for="assessmentid"><b>Select Assessment</b></label>
        </div>
        <div class="block">
            <select name="assessmentid" id="selAssessment">
                <option value=""></option>
                {% for item in dbassessmentrows %}
                    {% if assessmentselected == item[0] %}
                        <option value="{{ item[0] }}" selected="selected">{{item[0]}}</option>
                    {% else %}
                        <option value="{{ item[0] }}">{{item[0]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
      </div>
      <br>
    <button type="submit" id="btnGo">Go</button>
    <table>
        <tr>
        <th>S. No.</th>
        <th>Name</th>
        <th>Score</th>
        <th>Rank</th>
        <th>SubmittedOn</th>
        </tr>
        {% for item in dbclassassessmentrows|sort(attribute='name') %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
            </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}