{% extends "basestudent.html" %}

{% block content %}
<form class="modal-content" action="{{ url_for('leaderboard') }}" method="POST">
    <div class="row">
        <div class="block">
            Student
        </div>
        <div class="block">
            <strong>{{ student_name }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="block">
            Class
        </div>
        <div class="block">
        <strong>{{ student_class }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="block">
            <label for="assessmentid"><b>Select Assessment</b></label>
        </div>
        <div class="block">
            <select name="assessmentid" id="selAssessment">
                {% for item in dbassessmentrows %}
                    {% if assessmentselected == item[0] %}
                        <option value="{{ item[0] }}" selected="selected">{{item[0]}}</option>
                    {% else %}
                        <option value="{{ item[0] }}">{{item[0]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
      </div>
      <br>
    <button type="submit" id="btnSubmit">Submit</button>
    <table>
        <tr>
        <th>Question</th>
        <th>Points</th>
        </tr>
        {% for item in dbresultrows %}
            <div class="row">
                <tr>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[1] }}</td>
                </tr>
            </div>
        {% endfor %}
    </table>
</form>
{% endblock %}