{% extends "basehome.html" %}

{% block content %}
  <h2 align="center">Reset Password</h2>
  <div class="imgcontainer">
    <img src="{{ url_for('static', filename='image/img_avatar2.png') }}" alt="Avatar" class="avatar">
  </div>
  <form class="modal-content" action="{{ url_for('newpassupdate') }}" method="post">
      <label for="admno"><b>Admission/Joining Number</b></label>
      <input type="text" value="{{ playerid }}" name="admno" id="admno" required maxlength="4" pattern="\d{4}"  readonly>

      <label for="otp"><b>OTP</b></label>
      <input type="password" placeholder="Enter OTP" name="otp" required maxlength="4" pattern="\d{4}"  >

      <label for="npsw1"><b>New Password</b></label>
      <input type="password" placeholder="Enter New Password" name="npsw1" required maxlength="20">

      <label for="npsw2"><b>Confirm New Password</b></label>
      <input type="password" placeholder="Enter New Password" name="npsw2" required maxlength="20">
  
      <button type="submit">Submit</button>
  </form>
{% endblock %}