{% extends "baseassessment.html" %}

{% block content %}
<div class="modal-content">
  <div class="row">
    <div class="qpapercolumn" style="background-color:#aaa;">
      <p><img src="../static/image/class12-csc-mt3.pdf_dir/0_class12-csc-mt3.pdf.jpg" style="width: 100%;"></p>
      <p><img src="../static/image/class12-csc-mt3.pdf_dir/1_class12-csc-mt3.pdf.jpg" style="width: 100%;"></p>
      <p><img src="../static/image/class12-csc-mt3.pdf_dir/2_class12-csc-mt3.pdf.jpg" style="width: 100%;"></p>
      <p><img src="../static/image/class12-csc-mt3.pdf_dir/3_class12-csc-mt3.pdf.jpg" style="width: 100%;"></p>
    </div>
    <div class="qpapercolumn" style="background-color:#bbb;">
      <h2>Column 2</h2>
      <p>Some text..</p>
    </div>
  </div>
</div>
{% endblock %}