<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Assessment with PDF Viewer</title>
        <style>
            html, body {
                height: 100%;
                margin: 0px;
            }
            .container {
                height: 100%;
                width: 50%;
                background: #f0e68c;
            }
        </style>
    </head>
    <body>
        <div id=div_qpaper_viewer>
            <div id="canvas_container">
                <canvas id="pdf_renderer"></canvas>
            </div>
        </div>
        <div id="navigation_controls">
            <button id="go_previous">Previous</button>
            <input id="current_page" value="1" type="number"/>
            <button id="go_next">Next</button>
        </div>
        <div id="zoom_controls">  
            <button id="zoom_in">+</button>
            <button id="zoom_out">-</button>
        </div>
        <script src="build/pdf.worker.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>-->
        <script>
            var myState = {
                pdf: null,
                currentPage: 1,
                zoom: 1
            }
         
            // more code here
            pdfjsLib.getDocument('class12-csc-mt3.pdf').then((pdf) => {
                myState.pdf = pdf;
                render();
                function render() {
                    myState.pdf.getPage(myState.currentPage).then((page) => {
                        var canvas = document.getElementById("pdf_renderer");
                        var ctx = canvas.getContext('2d');
                        
                        var viewport = page.getViewport(myState.zoom);
                        canvas.width = viewport.width;
                        canvas.height = viewport.height;
                        page.render({
                            canvasContext: ctx,
                            viewport: viewport
                        });                       // more code here
                    });
                }                // more code here
            });
        </script>
    </body>
</html>
